.almond {
    color: #cf973d;
}

.black-100 {
    color: #4a4a4a;
}

.black-900 {
    color: #12343d;
}

.gray-300 {
    color: #808080;
}

.dark-gray {
    color: #777777;
}

.bg-gray-100 {
    background: #f3f3f3;
}

.bg-aqua {
    background: #6bbfc3;
}

.bg-gray-200 {
    background: #e0e0e0;
}