* {
    margin: 0;
    padding: 0; 
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

html, body {
    background-color: violet;
    width: 100%;
    height: 100%;
}

/* Youtube navbar start */
.navbar {
    background-color: #212121;
    height: 56px;
    padding: 0 16px 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Youtube logo section */
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dropdown icon */
.burger {
    width: 24px;
    fill: white;
}

/* Youtube brand logo */
.youtube-logo {
    fill: white;
    padding-left: 1rem;
    width:  84px;
}
/* Youtube logo section end */

/* Search box */
.search-container {
    display: flex;
    width: 38%;
}

/* Search bar */
.search-bar {
    width: 90%;
    height: 1.6rem;
}

/* Search button */
.search-button {
    display: flex;
    justify-content: center;
    background-color: grey;
    width: calc(100% - 90%)
}

/* Search logo */
.logo {
    width: 24px;
}

/* Sign in box */ 
.user-container {
    display: flex;
}

.control-logos{
    fill: white;
    width: 24px;
    padding-right: 15px;
}

.sign-in-button {
    display: flex;
    padding: 0 10px 0 10px;
    align-items: center;
    border: 1px solid rgb(0, 195, 255);
}

.sign-in-button .sign-in-logo {
   height: 2.2rem; 
   padding: 0 8px 0 0;
   fill: rgb(0, 195, 255) ;
}

.sign-in-button .sign-in-text {
   color:rgb(0, 195, 255);
}
/* Youtube Navbar end */


/* Main container for content */
.main {
    margin: 16px 30px 0 20px;
    display: flex;
    background-color: wheat;
    justify-content: space-between;

    height: calc(100% - (16px + 56px));
    overflow-y: scroll;
 
}

/* Left video container */
.left {
    background: gray;
    width: 76.4%;
    height: 100%;

}

/* actual Video */
#video {
    width: 100%;
    height: 40vw;
}

/* video information  */
.video-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: green;
    height: 5rem;
}

/* video title and views */
.video-title-metadata {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    align-self: flex-start;
}

/* video-title */
.video-title {
    font-weight: 500;
}

/* video controls */
.video-controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
}

/* video control buttons */ 
.video-controls-buttons {
    display: flex;
    padding-bottom: 6px;
}

/* individual buttons */
.button {
    display: flex;
    align-items: center;
    padding-right: 18px;
}

.like-button {
    width: 20px;
}

/* likes count */
.like-count {
    padding-left: 4px;
}

/* Video uploader section */
.user-section {
    background-color: purple;
}

/* uploaders info */
.user-metadata {
    display: flex;
    justify-content: space-between;
}

/* user wrapper for image and name */
.user-wrapper {
    display: flex;
}

/* user profile picture */
.profile_picture {
    border-radius: 100%;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: teal;
    padding-left: 1rem;
}

/* uploaders name */ 
.username {
    display: flex;
    align-items: center;
    background-color: aqua;
}

/* verfied icon */
.verified-icon {
    width: 14px;
    padding-left: 4px;
}

/* user sub and join btn */
.user-buttons {
    display: flex;
    align-items: center;
    padding-right: 10px;
    background-color: bisque;
}

/* button styling */
.btn {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 195, 255);
    height: 2rem;
    padding: 0 20px 0 20px;
}

/* sub btn */
.sub-btn {
    margin-left: 10px;
}

/* description section */
.description-section {
    background-color: teal;
    padding: 30px 0 30px 66px;
}

/* description */
.description {
    color: white;
    font-weight: 500;
}

/* extend description */
.description-more {
    margin-top: 6px;
}

/* small view suggestions */
.small-view-suggestions {
    display: none;
    background-color: tomato;
}

/* individual small view suggestions */
.small-view-suggestion {
    display: flex;
    margin-bottom: -0.8rem;
    background-color: cadetblue;
}

/* actual video */
.sv-suggestion-video {

}

/* suggested video metadata */
.sv-suggestion-video-metadata {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

/* sv video title */
.sv-video-title {
    background-color: white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* sv video timestamp */
.sv-suggestion-timestamp {
    background-color: black;
    opacity: 0.85;
    color: white;
    position: relative;
    top: -0.9rem;
    margin-left: 6.1rem;
    padding: 0 2px;
    width: fit-content;
}

/* video comment section */
.comment-section  {
    background-color: greenyellow;
}

/* Comment count and sorting */
.comment-metadata {
    display: flex;
    align-items: center;
    padding-top: 1.4rem;
    background-color: blueviolet;
}

/* comment counts */
.comment-count {
}

/* sort button */
.sortby-btn {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

/* sort logo */
.sort-btn-logo {
    width: 1.7rem;
}

/* new comment form */
.comment-form {
    display: flex;
    background-color: blue;
    align-items: center;
    padding-top: 1.5rem;
}

/* commenter pic */
.commenter-picture {
    border-radius: 100%;
    width: 3rem;
}

/* comment box */
.comment-box {
    background-color: cyan;
    width: 100%;
    padding-left: 0.8rem;
}

/* comment input */
.comment-input {
    background-color: yellow;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 1.3rem;

}

/* comments */
.comments {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

/* individual comments  */
.comment {
    padding-top: 1.5rem;
    display: flex;
}

/* comment commenter */
.commenter {
    display: flex;
    flex-direction: column;
}

/* comment body */
.comment-body {
    padding-top: 0.8rem;
}

/* comment controls */
.comment-controls {
    display: flex;
    flex-direction: column;
}

/* like controls */
.like-controls {
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

/* comment like count */
.comment-like-count {
    padding-left: 0.7rem;
    margin-right: 0.7rem;
}

/* dislike button */
.dislike {
    margin-right: 1rem;
}
                                    
/* Right side of main container */
.video-suggestions {
    height: 100%;
    width: calc(100% - 76.4%);
    background-color: yellow;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* individual videos suggested  */
.suggestion {
    display: flex;
    background-color: teal;
    margin-bottom: -1rem;
}

/* suggestion video name and channel */
.suggestion-metadata {
    padding-left: 8px;
}

/* suggested video title */
.video-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* suggestion channel name */
.channel {
    background-color: white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}


/* video timestamps */
.timestamp {
    color: white;
    background-color: black;
    opacity: 0.9;
    position: relative;
    top: -0.8rem;
    padding: 0 1px 0 1px;
    margin-left: 6.6rem;
    width: fit-content;
}


/* hide suggestions when small */
@media (max-width: 1000px) {
    .video-suggestions {
        display: none;
    }
}

/* shorten video width when screen smol */
@media (max-width: 1500px) {
    .left {
        width: 68%
    }

    .video-suggestions {
        width: calc(100% - 68%);
    }
}

/* maximize video width when small */
@media (max-width: 1000px) {
    .small-view-suggestions {
        display: flex;
        flex-direction: column;
        padding-top: 1.3rem;
    }

    .left {
        width: 100%;
    }
    .main {
        margin: 16px 20px 0 20px;
    }

    #video {
        height: 50vw;
    }
}

/* hide navbar content when small */
@media (max-width: 650px) {
    .search-container {
        display: none;
    }
}






